/*#title {
     height:10vh;
     background-repeat: no-repeat;
     background-size:cover;
     text-align: center;
     text-decoration-color: black;
     font-style: italic;
     padding: 10px;
     font-family: Arial;
     font-weight: bolder;
     font-size: smaller;
}

.navigation-bar ul {
    display: flex;
    justify-content: space-around;
}

.navigation-bar > ul > li {
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    list-style-type: none;
    padding: 10px;
}*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,400;1,700&display=swap');
*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    scroll-padding-top: 1rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

section{
    padding: 4rem 0 2rem;
}

img{
    width: 100%;    
}
body{
    margin: 0;
    font-family: 'Roboto' , sans-serif;
    color:whitesmoke;
    background: black;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
.nav{
    max-width: 1068px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 35px;
}

 header{
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

#icon{
    font-size: 25px;
    cursor: pointer;
    color: black;
    display: none;
}
.title{
    font-size: 1.2rem;
    font-weight: bolder;
    color:goldenrod;
    align-items: flex-start;
}

.title span{
    color:orangered;
    align-items: flex-start;
}

.nav-bar{
    display: flex;
    column-gap: 2rem;
}

.nav-bar a {
    color:whitesmoke;
    font-size: small;
    text-transform: uppercase;
    font-weight: bolder;

}

.nav-bar a:hover{
    color: red;
    border-bottom: 3px solid red;

}

#search-tag{
    font-size: 25px;
    cursor: pointer;
}

.searchbox{
    position: absolute;
    left: 0;
    top: 0;
    background-color: red;
    box-shadow: 4px 4px 20px rgb(15 54 55 /10%);
    border: 1px solid white;
    border-radius: 0.5rem;
    clip-path: circle(0% at 100% 0%);
}

.searchbox.active{
    clip-path: circle(144% at 100% 0%);
    transition: 0.4s;
}

.searchbox input {
    width: 100%;
    padding: 20px;
    border: none;
    outline: none;
    background: transparent;
    font-size: small;
}

.home{
    max-width: 1300px;
    display: flex;
    margin: auto;
    align-items: center;
    width: 100%;
    min-height: 640px;
    padding-bottom: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center left;

}

.img{
    max-width: 1300px;
    display: flex;
    margin: auto;
    align-items: center;
    width: 100%;
    min-height: 640px;
    padding-bottom: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    overflow: hidden;

}


.img{
    max-width: 1300px;
    display: flex;
    margin: auto;
    align-items: center;
    width: 100%;
    min-height: 640px;
    padding-bottom: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center left;
    background-position: center left;

} 
