*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    scroll-padding-top: 1rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
.icon {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    
  }
  
  .icon img {
    display: block;
    width: 50%;
    height: 50%;
    object-fit: cover;
  }

  .nav-bar{
    display: none;
    align-items: center;
    justify-content: space-around;
    position: relative;
    column-gap: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: small;
    font-weight: bolder;
    text-decoration: none;
    max-width: 1098px;
    margin-left: 10%;
    margin-right: auto;
  }

  .nav-bar a {
    color:red;
    font-size: small;
    text-transform: uppercase;
    font-weight: bolder;
    float: inline-end;

}

.nav-bar a:hover{
    color: goldenrod;
    border-bottom: 3px solid red;

}

body{
    margin: 0;
    font-family: 'Roboto' , sans-serif;
    color:whitesmoke;
    background:url(./assets/polina-kuzovkova-ZBdY5SRELnY-unsplash.jpg);    
    line-height: 1.5;
    height: 300%;
    position: static;
    display: block;

}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

#rounded{
    height: 500px;
    width: 500px;
    border-radius: 300%;
    display: flex;
}

#search-tag{
    font-size: 25px;
    cursor: pointer;
}

.searchbox{
        position: flex;
        left: 0%;
        top: 110%;
        right: 0;
        background-color:blueviolet;
        box-shadow: 4px 4px 20px rgb(15 54 55 /10%);
        border: 1px solid red;
        border-radius: 0.5rem;
        clip-path: circle(0% at 100% 0%);
    }
    
    .searchbox.active{
        clip-path: circle(144% at 100% 0%);
        transition: 0.4s;
    }
    
   .searchbox input {
        width: 100%;
        padding: 20px;
        border: none;
        outline: none;
        background: transparent;
        font-size: small;
    }
    
    .nav{
        display:flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 35px;
    }

    /*section{
        padding: 4rem 0 2rem;
    }*/

    #home{
        max-width: 1000px;
        width: auto;
        min-height: 100%;
        display: block;
        align-items: start;
     }

    #home span{
        color: orange;
    }
    
    #display{
        float: right;
     }
     #img-content{
       display: block;
       font-size: xx-large;
       font-style: italic;
       color: red;
       font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
       font-weight: lighter;
       padding: 4;
       height: 100%;
     }

     #img-content span{
        color: goldenrod;
     }
    
     #service-cars{
        text-align: center;
        align-items: baseline;
     }

     .btn{
        position: relative;
        background: black;
        color: white;
        min-width: 200px;
        min-height: 40px;
        padding:20px;
        border-radius: 14%;
        color: purple;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 120%;
        font-weight: lighter;
        overflow: hidden;
     }
  /* .main-idea{
        padding: 10px;
     }
    .main-idea h1 {
        font-size: smaller;
      }
      .main-idea span {
        color: orange;
      }
    
      .main-idea p {
        text-align: center;
        font-size: xx-large;
      }
     /* .button{
        padding: 10px 22px;
        background: red;
        color:whitesmoke;
        font-weight: 400;
      }
    
    


/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,400;1,700&display=swap'); */
/*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    scroll-padding-top: 1rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

section{
    padding: 4rem 0 2rem;
}

img{
    width: 100%;    
}
body{
    margin: 0;
    font-family: 'Roboto' , sans-serif;
    color:whitesmoke;
    background: black;    
    line-height: 1.5;
    height: 300vh;
    position: static;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
.nav{
    max-width: 1068px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position:absolute;
}

 header{
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

/*#icon{
    font-size: 25px;
    cursor: pointer;
    color: black;
    display: none;
}
.title{
    font-size: 1.2rem;
    font-weight: bolder;
    color:goldenrod;
    align-items: flex-start;
}


#rounded{

height: 500px;
width: 500px;
border-radius: 300%;
}

.title span{
    color: blueviolet;
    align-items: flex-start;
}

.nav-bar{
    display: flex;
    column-gap: 2rem;
}

.nav-bar a {
    color:whitesmoke;
    font-size: small;
    text-transform: uppercase;
    font-weight: bolder;
    float: inline-end;

}

.nav-bar a:hover{
    color: red;
    border-bottom: 3px solid red;

}

#search-tag{
    font-size: 25px;
    cursor: pointer;
}

.searchbox{
    position: absolute;
    left: 0;
    top: 0;
    background-color: red;
    box-shadow: 4px 4px 20px rgb(15 54 55 /10%);
    border: 1px solid white;
    border-radius: 0.5rem;
    clip-path: circle(0% at 100% 0%);
}

.searchbox.active{
    clip-path: circle(144% at 100% 0%);
    transition: 0.4s;
}

.searchbox input {
    width: 100%;
    padding: 20px;
    border: none;
    outline: none;
    background: transparent;
    font-size: small;
}



#img{
    display: flex;
    float: right;
}    
 .home{
    max-width: 1500px;
    margin: auto;
    width: 100%;
    min-height: 50%;
    display: flex;
    align-items: baseline;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center left;
 }

 .main-idea{
    padding-left: 130px;
 }
  .main-idea h1 {
    font-size: smaller;
  }
  .main-idea span {
    color: orange;
  }

  .main-idea p {
    font-size: medium;
    font-weight: bolder;
    margin: 0.5rem 0 1.2rem;
  }
  .button{
    padding: 10px 22px;
    background: red;
    color:whitesmoke;
    font-weight: 400;
  }

  .garage{
    text-align: center;
  }
  
  .garage span{
    font-weight: lighter;
    color: red;
  }

  .garage p{
    font-size: smaller;
    font-weight: bolder;
  }

  .garage h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-variant: small-caps;
  }*/

 

 



/*.icons{
    position: flex;
    top: 20px;
    right: 20px;
    opacity: 0.9;
    height: 100%;
    width: 100%;
    transition: 0.4s;
    display: flex;
    flex-wrap: wrap-reverse;
    -webkit-box-pack: end;
    justify-content: end;
    margin-top: auto;

}*/